.order {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.order form h1 {
    text-align: center;
    color: #AB572D;
    font-size: 50px;
    margin: 5% 0;
}

.orderFlex {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.orderFlex label {
    width: 100%;
    font-size: 20px;
}

.orderFlex input {
    border-radius: 7px;
    border: 0;
    height: 30px;
    padding-left: 10px;
}

.inputRadio {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

.inputPayment {
    color: #000;
    background-color: #fff;
    opacity: .5;
}

.btnOrder {
    width: 100%;
    padding: 2% 0;
    font-size: 20px;
    background-color: #AB572D;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.btnOrder:hover {
  background: linear-gradient(to right, #ab572d, #de8e47, #d06f35, #e2b17c);
}

@media screen and (max-width: 525px) {
    .orderFlex:nth-child(5) {
        flex-wrap: wrap;
        justify-content: center;
    }

    .order form h1 {
        font-size: 30px;
    }

    form .orderFlex label {
        font-size: 16px;
    }

    .orderFlex input[type="text"],
    .orderFlex input[type="number"] {

        height: 20px;
    }
}

